{% extends 'layout.html'%}
{% load static %}

{% block content %}

<div class="jumbotron mb-3">
    <h1 class="display-4">
        <p class="text-info">
            Dear visitor, welcome!
        </p>
    </h1>
    <p class="lead">Tahtalıkaradut is a village in Musabeyli district of
        Kilis Province, Turkey. <br> &nbsp;At <span class="font-weight-bold"> 36°56′N 36°55′E </span>
        it is situated in the typical peneplain area of the south eastern Turkey. <br> &nbsp;It is 25 kilometres
        north of Musabeyli and 58 kilometres north of Kilis. The population of
        Tahtalıkaradut <span class="font-italic"> is 2000 as of 2020 </span> </p>
    <hr class="my-4">
    <p> <br> &nbsp;The main products of the village are olive, grapes and cereals.</p><br>
    <div class="col-md-6 mx-auto">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1400">
                    <img src="{% static 'abouts/koyinfo.jpg' %}" class=" rounded mx-auto d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1400">
                    <img src="{% static 'abouts/ko.jpg' %}" class="rounded mx-auto d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
                <div class="carousel-item"  data-bs-interval="1400">
                    <img src="{% static 'abouts/k3.jpg' %}" class="rounded mx-auto d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/k5.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/kp.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/kf.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/kz.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/ku.jpg' %}" class="img-fluid mb-2" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/kyz.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/k3.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/ko.jpg' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{% static 'abouts/kc1.png' %}" class="img-fluid" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- <div class="row">
        <div class="col-md-12">
            {% if abouts %}
                {% for about in abouts%}
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="card-img" src="{% static about.get_image_path %}" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-bady">
                                    <div class="card-title"> {{ about.image }} </div>
                                    <p class="lead">
                                        <a class="btn btn-primary btn-mn" href="#" role="button">Buy</a>
                                    </p>
                                    <p class="card-text"></p>
                                    <small class="text-muted"> {{ about.created_date }} </small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            {% else %} 
                <div class="alert alert-warning">
                        <p>
                            No information about
                        </p>
                </div>
            {% endif%}
        </div>
    </div> -->