{% load static %} 

{% if masssages %}
  


<!-- <li 
{% if 'natural' in request.path %} 
    class="nav-item active" 
{% else %} 
    class="nav-item" 
{% endif %}
>
<a href="{% url 'natural' %}" class="nav-link">Natural Products</a>
</li>
<li 
{% if 'about' in request.path %} 
    class="nav-item active" 
{% else %} 
    class="nav-item" 
{% endif %}
>
<a href="{% url 'about' %}" class="nav-link">About</a>
</li>
<li 
{% if 'contact' in request.path %} 
    class="nav-item active" 
{% else %} 
    class="nav-item" 
{% endif %}
>
<a href="{% url 'contact' %}" class="nav-link">Contact</a>
</li> -->